body{
    background-color: aquamarine;
    font-size: 25px;
    text-align: center;
}

h1{
    text-align: center;
    
}

input, textarea{
    border: 3.5px solid rgb(0, 0, 0);
}

Div{
    background-color: rgb(255, 248, 235);
    border: 2px solid rgb(0, 0, 0);
    height: 800px;
    width: 1600px;
    margin: auto;
}

#nome, #email, #tarefa, #opcao, #submit {
    margin-bottom: 15px;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}