body{
    
    font-size: 25px;
    text-align: center;
}



input, textarea{
    border: 3px solid rgb(0, 0, 0);
}

.dados{
   
    border: 2.5px solid rgb(0, 0, 0);
    border-radius: 50px;
    width: 980px;
    margin: auto;   
    display: flex;
    flex-direction: column;
}

#nome, #email, #tarefa, #info, #Persona, #formato, #submit {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

#outPrompt{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
   
    text-align: left;
    padding-left: 10px;
    border: 2.5px solid rgb(0, 0, 0);
    width: 980px;
    margin: auto;   
    display: none;
    white-space: pre-line;
}

@media screen and (max-width: 900px) {
    .dados {
        flex-direction: column;
        display: table-cell;
    }
    #nome, #email, #tarefa, #info, #Persona, #formato, #submit {
    font-size: 15px;
    padding: 10px;
    width: 80%;
    }
}
